.homepage-link-list{
	display: flex;
	flex-flow: column nowrap;
	row-gap: 24px;
	list-style-type: none;
	padding: 0;
	margin-right: 16px;
} 

.homepage-link-list-item{
	background-color: #D9D9D9;
	border: solid;
	padding: 8px;
} 

.home-page-link-icon {
	grid-area: icon;
}

.home-page-link-title {
	grid-area: title;
	text-decoration: underline;

	@media (width > 700px) {
		text-decoration: none;
	}
}

.home-page-link-description {
	grid-area: description;
}

.home-page-link {
	color: black;
	display: grid;
	grid-template-columns: minmax(0, 1fr);
	grid-template-rows: minmax(0, 2fr) minmax(0, 1fr) auto;
	place-items: center;
	text-align: center;
	text-decoration: none;
	
	grid-template-areas: 
		'icon'
		'icon'
		'title'
		'description';

	@media (width > 700px) {
		grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);
		grid-template-rows: minmax(0, 2fr) minmax(0, 1fr);
		grid-template-areas: 
			'icon description'
			'icon description'
			'title description';
	}
}

