.main-layout {
	display: flex;
	align-items: stretch;
	column-gap: 24px;
	margin-right: 24px;

	@media (width > 700px) {
		column-gap: 40px;
	}
}

.side-bar{
	border-right: solid;
	border-right-width: 1.5px;
	border-right-color: rgb(217, 212, 212);
}

.user-pic {
	margin: 36px 16px;
}

.nav-list {
	display: flex;
	flex-flow: column nowrap;
	row-gap: 16px;
	list-style-type: none;
	padding: 0;
	margin: 36px 16px 8px;
}

.nav-list-item-link {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

.section-title {
	border-bottom: solid;
	border-bottom-width: 4px;
	border-bottom-color: rgb(165, 159, 159);
	font-size: 48px;
	padding-bottom: 24px;
	text-align: left;

	@media (width > 700px) {
		width: 600px;
	}
}

.loved-ones-list {
	display: flex;
	flex-flow: column nowrap;
	gap: 16px;
	list-style-type: none;
	padding: 0;
	margin: 24px 0;
}

.loved-ones-list-item-name {
	font-weight: bold;
}